<h1>Stock Cards Listed Below:</h1>
<p>Search a stock ticker in the LookUp search bar to get ticker information (e.g. try these tickers: ms, fb, ttxp)</p>
{{#if error}}
</br>
<h4>{{error}}</h4>
{{/if}}

<div class="cards">
{{#each stocks}}
<div class="card" style="width: 15rem; margin-top: 20px;">
  <div class="card-body">
    <h5 class="card-title">{{this.[1. symbol]}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{this.[2. name]}}</h6>
    <span class="card-text">Type: {{this.[3. type]}}</span> </br>
    <span class="card-text">Region: {{this.[4. region]}}</span> </br>
    <span class="card-text">Market Open: {{this.[5. marketOpen]}}</span> </br>
    <span class="card-text">Market Close: {{this.[6. marketClose]}}</span> </br>
    <span class="card-text">Timezone: {{this.[7. timezone]}}</span> </br>
    <span class="card-text">Currency: {{this.[8. currency]}}</span> </br>
    <span class="card-text">Match Score: {{this.[9. matchScore]}}</span> </br>
  </div>
</div>
{{/each}}
</div>
