<h1>This is the handlebars Homepage...</h1>
<p>The handlebar is rendering paragraphs ....</p>
<p>This is some stuff: {{stuff}}</p>
<p>This is some content: {{content}}</p>

{{stocks}}

<h1>This is the stock cards</h1>
{{#each stocks}}
<div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.[1. symbol]}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{this.[2. name]}}</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
{{/each}}

<ul>
{{#each obj}}
<li>{{ this }}</li>
{{/each}}
</ul>
<ul>
{{#each obj2}}
<li>{{this.id}}: {{this.[name. 1]}}</li>
{{/each}}
</ul>
