<h1>This is the handlebars Homepage...</h1>
<p>The handlebar is rendering paragraphs ....</p>
<p>This is some stuff: {{stuff}}</p>
<p>This is some content: {{content}}</p>

{{stocks}}

<h1>This is the stock cards</h1>
{{#each stocks}}
<div class="card" style="width: 35rem; margin-top: 20px;">
  <div class="card-body">
    <h5 class="card-title">{{this.[1. symbol]}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{this.[2. name]}}</h6>
    <span class="card-text">Type: {{this.[3. type]}}</span?
    <span class="card-text">Region: {{this.[4. region]}}</span>
    <span class="card-text">Market Open: {{this.[5. marketOpen]}}</span>
    <span class="card-text">Market Close: {{this.[6. marketClose]}}</span>
    <span class="card-text">Timezone: {{this.[7. timezone]}}</span>
    <span class="card-text">Currency: {{this.[8. currency]}}</span>
    <span class="card-text">Match Score: {{this.[9. matchScore]}}</span>
  </div>
</div>
{{/each}}

<ul>
{{#each obj}}
<li>{{ this }}</li>
{{/each}}
</ul>
<ul>
{{#each obj2}}
<li>{{this.id}}: {{this.[name. 1]}}</li>
{{/each}}
</ul>
