<h1>Stock Cards Listed Below ...</h1>

{{#if error}}
</br>
<h4>{{error}}</h4>
{{/if}}

{{#each stocks}}
<div class="card" style="width: 35rem; margin-top: 20px;">
  <div class="card-body">
    <h5 class="card-title">{{this.[1. symbol]}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{this.[2. name]}}</h6>
    <span class="card-text">Type: {{this.[3. type]}}</span> </br>
    <span class="card-text">Region: {{this.[4. region]}}</span> </br>
    <span class="card-text">Market Open: {{this.[5. marketOpen]}}</span> </br>
    <span class="card-text">Market Close: {{this.[6. marketClose]}}</span> </br>
    <span class="card-text">Timezone: {{this.[7. timezone]}}</span> </br>
    <span class="card-text">Currency: {{this.[8. currency]}}</span> </br>
    <span class="card-text">Match Score: {{this.[9. matchScore]}}</span> </br>
  </div>
</div>
{{/each}}

